/**
 * Primary System Overrides
 */
 body {
    color: rgb(18,18,18);
    background-color: rgb(252,252,252);

    box-sizing: border-box;

    font-family: "Proxima Nova", "Roboto", sans-serif;
    font-size: 100%;

    margin: 0 auto;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}